<footer class="footer">
  <a href="./home">
    <img
      ngSrc="assets/images/shared/desktop/logo-light.png"
      alt="Home - Designo"
      height="54"
      width="404"
      priority
      class="footer__logo"
  /></a>

  <ul class="footer__nav">
    <li>
      <a href="./about">our company</a>
    </li>
    <li>
      <a href="./locations">locations</a>
    </li>
    <li>
      <a href="./contact">contact</a>
    </li>
  </ul>

  <p>Designo Central Office 3886 Wellington Street Toronto, Ontario M9C 3J5</p>
  <p>
    Contact Us (Central Office) P : +1 253-863-8967 M :
    contact&commat;designo.co
  </p>

  <div class="social__links">
    <a href=""
      ><img
        ngSrc="../../assets/images/shared/desktop/icon-facebook.svg"
        alt=""
        height="24"
        width="24" /></a
    ><a href=""
      ><img
        ngSrc="../../assets/images/shared/desktop/icon-youtube.svg"
        alt=""
        height="24"
        width="24" /></a
    ><a href=""
      ><img
        ngSrc="../../assets/images/shared/desktop/icon-twitter.svg"
        alt=""
        height="20"
        width="24" /></a
    ><a href=""
      ><img
        ngSrc="../../assets/images/shared/desktop/icon-pinterest.svg"
        alt=""
        height="24"
        width="24" /></a
    ><a href=""
      ><img
        ngSrc="../../assets/images/shared/desktop/icon-instagram.svg"
        alt=""
        height="24"
        width="24"
    /></a>
  </div>
</footer>
