<div class="intro">
  <h1 class="intro__title">Graphic Design</h1>
  <p class="intro__description">
    We deliver eye-catching branding materials that are tailored to meet your
    business objectives.
  </p>
</div>

<div class="projects">
  <a class="project">
    <img
      ngSrc="../../../assets/images/graphic-design/desktop/image-change.jpg"
      alt=""
      class="project__img"
      priority
      height="640"
      width="700"
    />
    <div class="project__content">
      <h2 class="project__title">Tim Brown</h2>
      <p class="project__description">
        A book cover designed for Tim Brown’s new release, ‘Change’
      </p>
    </div>
  </a>
  <a class="project">
    <img
      ngSrc="../../../assets/images/graphic-design/desktop/image-boxed-water.jpg"
      alt=""
      class="project__img"
      priority
      height="640"
      width="700"
    />
    <div class="project__content">
      <h2 class="project__title">Boxed water</h2>
      <p class="project__description">
        A simple packaging concept made for Boxed Water
      </p>
    </div>
  </a>
  <a class="project">
    <img
      ngSrc="../../../assets/images/graphic-design/desktop/image-science.jpg"
      alt=""
      class="project__img"
      priority
      height="640"
      width="700"
    />
    <div class="project__content">
      <h2 class="project__title">Science!</h2>
      <p class="project__description">
        A poster made in collaboration with the Federal Art Project
      </p>
    </div>
  </a>
</div>
