
$clr-Peach: hsl(10, 72%, 66%);
$clr-LightPeach: hsl(10, 100%, 80%);
$clr-Black: hsl(264, 4%, 11%);
$clr-DarkGrey:hsl(264, 5%, 20%);
$clr-LightGrey:hsl(210, 17%, 95%);
$clr-Grey-400: hsla(14, 76%, 97%);
$clr-White:hsl(0, 0%, 100%);
