@use "../global/colors" as *;

.intro {
  margin-top: 2.13rem;
  margin-bottom: 7.75rem;
  background: $clr-Peach
    url("../assets/images/shared/desktop/bg-pattern-small-circle.svg") no-repeat;
  background-position: center;
  background-size: 18.25rem;
}

.intro__title {
  padding-top: 6.56rem;
  color: $clr-White;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
}

.intro__description {
  margin-top: 1.5rem;
  padding: 0 1.5rem 5.94rem;
  color: $clr-White;
  text-align: center;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.66;
}

// Projects

.projects {
  display: grid;
  gap: 2.5rem;
  margin-bottom: 4.5rem;
}

.project {
  max-width: 20.4375rem;
  margin: 0 auto;
  border-radius: 0.9375rem;
  overflow: hidden; // a solution from stackoverflow because border-radius wasn't working
  background: $clr-Grey-400;
  cursor: pointer;

  &:hover {
    background: $clr-Peach;
    .project__title,
    .project__description {
      color: $clr-White;
    }
  }
}

.project__title {
  color: $clr-Peach;
  text-align: center;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.3125rem;
  padding: 2rem 0 1rem;
}

.project__description {
  color: $clr-DarkGrey;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625;
  padding: 0 1.87rem 2rem;
}
@media (min-width: 43em) {
  .intro {
    border-radius: 0.9375rem;
    margin: 4rem 2.5rem 7.5rem 2.44rem;
    background: $clr-Peach
      url("../assets/images/web-design/desktop/bg-pattern-intro-web.svg")
      no-repeat;
    background-position: right;
  }
  .intro __title {
    padding-top: 4rem;
    font-size: 3rem;
  }

  .intro__description {
    margin-top: 0.2rem;
    padding: 0 9rem 4rem;
    font-size: 1rem;
    line-height: 1.625;
  }

  // Projects

  .projects {
    gap: 2rem;
    margin-bottom: 6rem;
  }

  .project {
    max-width: 100%;
    margin: 0 2.44rem 0 2.5rem;
    display: flex;
  }

  .project__img {
    max-width: 21.125rem;
  }

  .project__content {
    margin-left: auto;
  }

  .project__title {
    padding: 6.81rem 0 0.92rem;
  }

  .project__description {
    padding: 0 2.56rem 6.77rem;
  }
}

@media (min-width: 75em) {
  .intro {
    width: 69.4375rem;
    margin: 4rem auto 10rem;
  }
  .intro__description {
    width: 45.625rem;
    margin: 0.2rem auto 0;
  }

  // Projects

  .projects {
    column-gap: 1.88rem;
    row-gap: 2rem;

    justify-content: center;
    margin-bottom: 10rem;
    grid-template-columns: repeat(3, 21.875rem);
  }

  .project {
    margin: 0;
    display: block;
  }

  .project__img {
    max-width: 100%;
  }

  .project__content {
    margin-left: 0;
  }

  .project__title {
    padding: 2rem 0 1rem;
  }

  .project__description {
    padding: 0 2rem 2rem;
  }
}
