/* Colors */
$clr-Peach: hsl(10, 72%, 66%);
$clr-LightPeach: hsl(10, 100%, 80%);
$clr-Black: hsl(264, 4%, 11%);
$clr-White:hsl(0, 0%, 100%);
$clr-LightGrey:hsl(210, 17%, 95%);
$clr-DarkGrey:hsl(264, 5%, 20%);

/* jost-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/jost-v15-latin-regular.woff2') format('woff2');
}
/* jost-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/jost-v15-latin-500.woff2') format('woff2');
}
/* jost-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/jost-v15-latin-700.woff2') format('woff2');
}

$Jost: 'Jost', sans-serif;
