@use "../../global/colors" as var;

.contact {
  background: var.$clr-Peach
    url("../../assets/images/contact/mobile/bg-pattern-hero-contact-mobile.svg")
    no-repeat;
  background-position:  top;
  margin-top: 2.31rem;
  padding: 4.5rem 0;
}

.contact__title {
  color: var.$clr-White;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
}

.contact__description {
  color: var.$clr-White;
  text-align: center;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.66;
  margin: 1.5rem 1.5rem 3rem;
}

input , textarea{
  display: block;
  margin: 0 auto 1.56rem;
  width:  min(327px,90vw);
  border: none;
  outline: none;
  background: none;
  border-bottom: 1px solid var.$clr-White;
  color: var.$clr-White;
  font-size: 0.9375rem;
  font-weight: 500;
  padding-left: .86rem;
  height: 33px;
  &::placeholder {
    color: var.$clr-White;
    opacity: 0.5;

  }
  &:focus , &:active, {
    background: none;
    border-bottom: 3px solid var.$clr-White;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
  background-color: transparent !important;
}

textarea {
  resize: none;
  height: 76.8px;
  &::-webkit-scrollbar{
    display: none;
  }
}

.error{
  color: var.$clr-White;
  font-size: 0.75rem;
  font-style: italic;
  font-weight: 400;
  position: absolute;
  left: 50%;
  margin-top: -3.1rem;
  margin-left: 3rem;
  &::after{
    content: "";
    width: 1.25rem;
    height: 1.25rem;
    position: absolute;
    margin-left: .5625rem;
    background: url("../../assets/images/contact/desktop/icon-error.svg");
  }
}

.less-margin{
  margin-left: 0;
}

.contact__btn{
  display: block;
  cursor: pointer;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  margin: 2.5rem auto 0;
  color: var.$clr-DarkGrey;
  background-color: var.$clr-White;
  text-align: center;
  font-size: 0.9375rem;
  font-weight: 500;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  padding: 1.12rem 2.94rem 1rem 3rem;
  &:hover{
    color: var.$clr-White;
    background-color: var.$clr-LightPeach;
  }
}

@media (min-width: 43em) {
  .contact {
    background: var.$clr-Peach
    url("../../assets/images/contact/desktop/bg-pattern-hero-desktop.svg")
    no-repeat;
    background-position: -8rem -6rem;
    margin: 4rem 2.5rem 0 2.44rem;
    border-radius: .9375rem;
    padding: 4.44rem 0;
  }
  .contact__title {
    text-align: left;
    font-size: 3rem;
    margin-left: 3.63rem;
  }

  .contact__description {
    text-align: left;
    font-size: 1rem;
    line-height: 1.625;
    margin: 2rem 3.63rem 2.5rem;
  }
  input , textarea {
    width: calc(100% - 7.26rem);
  }
  .contact__btn {
    margin: 1.5rem 3.63rem 0 auto;
  }
  .error {
    left: unset;
    right: 0;
    margin-left: 0;
    margin-right: 7.63rem;
  }
}

@media (min-width: 75em) {
  .contact {
    background-position: left;
    width: 69.4375rem;
    display: flex;
    margin: 4rem auto 0;
    padding:  0;
  }
  .contact__title {
    padding-top: 8.44rem;
    margin-left: 5.94rem;
  }
  .contact__description {
    padding-bottom: 10.06rem;
    width: 27.8rem;
    margin: 2rem 0 0 5.94rem;
  }
 .contact__form{
   margin: 3.44rem 6rem 0 auto;
 }
  input , textarea {
    width: 23.75rem;
    height: 38px;
  }
  textarea {
    height: 102px;
  }
  .contact__btn {
    margin: 1.5rem 0 0 14.25rem;
  }
  .error {
    left: 50%;
    right: unset;
    margin-left: 22rem;
    margin-right: 0;
  }
  .less-margin{
    margin-left: 17rem;
  }
}

.hidden{
  display: none;
}
