<div class="intro">
  <h1 class="intro__title">App Design</h1>
  <p class="intro__description">
    Our mobile designs bring intuitive digital solutions to your customers right
    at their fingertips.
  </p>
</div>

<div class="projects">
  <a class="project">
    <img
      ngSrc="../../../assets/images/app-design/desktop/image-airfilter.jpg"
      alt=""
      class="project__img"
      priority
      height="640"
      width="700"
    />
    <div class="project__content">
      <h2 class="project__title">Airfilter</h2>
      <p class="project__description">
        Solving the problem of poor indoor air quality by filtering the air
      </p>
    </div>
  </a>
  <a class="project">
    <img
      ngSrc="../../../assets/images/app-design/desktop/image-eyecam.jpg"
      alt=""
      class="project__img"
      priority
      height="640"
      width="700"
    />
    <div class="project__content">
      <h2 class="project__title">Eyecam</h2>
      <p class="project__description">
        Product that lets you edit your favorite photos and videos at any time
      </p>
    </div>
  </a>
  <a class="project">
    <img
      ngSrc="../../../assets/images/app-design/desktop/image-faceit.jpg"
      alt=""
      class="project__img"
      priority
      height="640"
      width="700"
    />
    <div class="project__content">
      <h2 class="project__title">Faceit</h2>
      <p class="project__description">
        Get to meet your favorite internet superstar with the faceit app
      </p>
    </div>
  </a>
  <a class="project">
    <img
      ngSrc="../../../assets/images/app-design/desktop/image-todo.jpg"
      alt=""
      class="project__img"
      priority
      height="640"
      width="700"
    />
    <div class="project__content">
      <h2 class="project__title">Todo</h2>
      <p class="project__description">
        A todo app that features cloud sync with light and dark mode
      </p>
    </div>
  </a>
  <a class="project">
    <img
      ngSrc="../../../assets/images/app-design/desktop/image-loopstudios.jpg"
      alt=""
      class="project__img"
      priority
      height="640"
      width="700"
    />
    <div class="project__content">
      <h2 class="project__title">Loopstudios</h2>
      <p class="project__description">
        A VR experience app made for Loopstudios
      </p>
    </div>
  </a>
</div>
