<h2 class="sr-only">locations</h2>

<div class="locations">
  <div class="location">
    <img
      ngSrc="../../assets/images/shared/desktop/illustration-canada.svg"
      alt=""
      width="202"
      height="202"
      priority
      class="location__img"
    />
    <h3 class="location__title">Canada</h3>
    <a href="./locations" class="location__link">see location</a>
  </div>
  <div class="location">
    <img
      ngSrc="../../assets/images/shared/desktop/illustration-australia.svg"
      alt=""
      width="202"
      height="202"
      priority
      class="location__img"
    />
    <h3 class="location__title">Australia</h3>
    <a href="./locations" class="location__link">see location</a>
  </div>
  <div class="location">
    <img
      ngSrc="../../assets/images/shared/desktop/illustration-united-kingdom.svg"
      alt=""
      width="202"
      height="202"
      priority
      class="location__img"
    />
    <h3 class="location__title">United Kingdom</h3>
    <a href="./locations" class="location__link">see location</a>
  </div>
</div>
