@if (isLoading){
<div class="tetrominos">
  <div class="tetromino box1"></div>
  <div class="tetromino box2"></div>
  <div class="tetromino box3"></div>
  <div class="tetromino box4"></div>
</div>

} @else {
<header>
  <div class="flex-group">
    <a routerLink="/home" routerLinkActive="" ariaCurrentWhenActive="page">
      <img
        ngSrc="assets/images/shared/desktop/logo-dark.png"
        alt="Home - Designo"
        height="54"
        width="404"
        priority
        class="logo"
    /></a>
    <button
      class="menu-btn"
      aria-controls="primary-nav"
      [attr.aria-expanded]="state"
      (click)="toggle()"
    >
      <span class="sr-only">Manu</span>
    </button>
  </div>

  <ul class="primary-nav" id="primary-nav" [attr.data-visible]="state">
    <li>
      <a
        routerLink="/about"
        routerLinkActive=""
        ariaCurrentWhenActive="page"
        (click)="state = false"
        >our company</a
      >
    </li>
    <li>
      <a
        routerLink="/locations"
        routerLinkActive=""
        ariaCurrentWhenActive="page"
        (click)="state = false"
        >locations</a
      >
    </li>
    <li>
      <a
        routerLink="/contact"
        routerLinkActive=""
        ariaCurrentWhenActive="page"
        (click)="state = false"
        >contact</a
      >
    </li>
  </ul>
</header>

<router-outlet></router-outlet>
}
