@if (isLoading){
<div class="tetrominos">
  <div class="tetromino box1"></div>
  <div class="tetromino box2"></div>
  <div class="tetromino box3"></div>
  <div class="tetromino box4"></div>
</div>

} @else {
<header>
  <div class="flex-group">
    <a routerLink="/home" routerLinkActive="" ariaCurrentWhenActive="page">
      <img
        ngSrc="assets/images/shared/desktop/logo-dark.png"
        alt="Home - Designo"
        height="54"
        width="404"
        priority
        class="logo"
    /></a>
    <button
      class="menu-btn"
      aria-controls="primary-nav"
      [attr.aria-expanded]="state"
      (click)="toggle()"
    >
      <span class="sr-only">Manu</span>
    </button>
  </div>

  <ul class="primary-nav" id="primary-nav" [attr.data-visible]="state">
    <li>
      <a
        routerLink="/about"
        routerLinkActive=""
        ariaCurrentWhenActive="page"
        (click)="state = false"
        >our company</a
      >
    </li>
    <li>
      <a
        routerLink="/locations"
        routerLinkActive=""
        ariaCurrentWhenActive="page"
        (click)="state = false"
        >locations</a
      >
    </li>
    <li>
      <a
        routerLink="/contact"
        routerLinkActive=""
        #contact="routerLinkActive"
        ariaCurrentWhenActive="page"
        (click)="state = false"
        >contact</a
      >
    </li>
  </ul>
</header>

<router-outlet></router-outlet>

<footer class="footer">
  <div class="footer__group">
    <a href="./home">
      <img
        ngSrc="assets/images/shared/desktop/logo-light.png"
        alt="Home - Designo"
        height="54"
        width="404"
        priority
        [class.reduced-padding]="contact.isActive"
        class="footer__logo"
    /></a>

    <ul class="footer__nav" [class.reduced-margin]="contact.isActive">
      <li>
        <a href="./about">our company</a>
      </li>
      <li>
        <a href="./locations">locations</a>
      </li>
      <li>
        <a href="./contact">contact</a>
      </li>
    </ul>
  </div>

  <div class="footer__info">
    <div class="footer__content">
      <p class="footer__description">
        Designo Central Office
        <span class="opaque"
          >3886 Wellington Street&NewLine;Toronto, Ontario M9C 3J5</span
        >
      </p>
      <p class="footer__description">
        Contact Us (Central Office)
        <span class="opaque"
          >P : +1 253-863-8967&NewLine;M : contact&commat;designo.co</span
        >
      </p>
    </div>

    <div class="social__links">
      <a href=""
        ><img
          ngSrc="assets/images/shared/desktop/icon-facebook.svg"
          alt="Designo facebook"
          height="24"
          width="24" /></a
      ><a href=""
        ><img
          ngSrc="assets/images/shared/desktop/icon-youtube.svg"
          alt="Designo youtube"
          height="24"
          width="24" /></a
      ><a href=""
        ><img
          ngSrc="assets/images/shared/desktop/icon-twitter.svg"
          alt="Designo twitter"
          class="twitter"
          height="20"
          width="24" /></a
      ><a href=""
        ><img
          ngSrc="assets/images/shared/desktop/icon-pinterest.svg"
          alt="Designo pinterest"
          height="24"
          width="24" /></a
      ><a href=""
        ><img
          ngSrc="assets/images/shared/desktop/icon-instagram.svg"
          alt="Designo instagram"
          height="24"
          width="24"
      /></a>
    </div>
  </div>
</footer>

}
