@use "../../global/colors" as var;

// Banner

.banner {
  margin-top: 2.13rem;
  margin-bottom: 7.5rem;
  background: var.$clr-Peach
    url("../../assets/images/home/desktop/bg-pattern-hero-home.svg") no-repeat;
  background-position: left 6.37rem;
}

.banner__heading {
  color: var.$clr-White;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.125;
  padding-top: 5rem;
}

.banner__description {
  color: var.$clr-White;
  text-align: center;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.66;
  margin: 0.88rem 1.5rem 1.5rem;
}

.banner__anchor {
  display: block;
  text-align: center;
  color: var.$clr-DarkGrey;
  background-color: var.$clr-White;
  text-transform: uppercase;
  max-width: 9.5rem;
  padding: 1rem 1.5rem;
  font-size: 0.9375rem;
  border-radius: 0.5rem;
  margin: 0 auto 5rem;
  &:hover {
    color: var.$clr-White;
    background-color: var.$clr-LightPeach;
  }
}

.banner__img {
  max-width: 17.41981rem;
  margin: 0 auto;
}

// Anchors

.portfolio__anchor {
  color: var.$clr-White;
  display: block;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 500;
  letter-spacing: 0.0875rem;
  text-transform: uppercase;
  padding-top: 5.64rem;
  padding-bottom: 5.62rem;
  margin: 0 1.5rem;
  border-radius: 0.9375rem;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
  &:hover {
    box-shadow: inset 0 0 0 1000px hsl(10, 72%, 66%, 0.8);
  }
}

.small {
  display: block;
  font-size: 0.9375rem;
  letter-spacing: 0.3125rem;
  margin-top: 0.52rem;
  &:after {
    content: url("../../assets/images/shared/desktop/icon-right-arrow.svg");
    margin-left: 1rem;
  }
}

.portfolio__web {
  background: url("../../assets/images/home/mobile/image-web-design.jpg")
    no-repeat;
  background-size: cover;
}
.portfolio__app {
  margin-top: 1.5rem;
  background: url("../../assets/images/home/mobile/image-app-design.jpg")
    no-repeat;
  background-size: cover;
}
.portfolio__graphic {
  margin-top: 1.5rem;
  background: url("../../assets/images/home/mobile/image-graphic-design.jpg")
    no-repeat;
  background-size: cover;
}
.active {
  display: none;
}

.anchors-inactive {
 margin-bottom: 6rem;
}

// Features

.features {
  margin: 7.5rem 0 7.56rem;
  display: grid;
  justify-content: center;
  row-gap: 5rem;
}

.feature__img {
  margin: 0 auto;
  background-color: var.$clr-LightGrey;
  border-radius: 50%;
}

.feature__title {
  color: var.$clr-DarkGrey;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.3125rem;
  margin: 3rem 0 2rem;
}

.feature__description {
  color: var.$clr-DarkGrey;
  text-align: center;
  max-width: 20.4375rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625;
}

@media (min-width: 43em) {
  // Banner

  .banner {
    border-radius: 0.9375rem;
    margin: 4rem 2.5rem 7.5rem 2.44rem;
    background-position: right 6.34rem;
  }
  .banner__heading {
    font-size: 3rem;
    line-height: 1;
    padding: 3.75rem 3.62rem 0;
  }
  .banner__description {
    font-size: 1rem;
    line-height: 1.625;
    margin: 0.88rem 7.94rem 1.5rem 7.31rem;
  }
  .banner__anchor {
    margin-bottom: 4.5rem;
  }

  // Anchors

  .portfolio__anchor {
    padding-top: 3.31rem;
    padding-bottom: 3.31rem;
    font-size: 2.5rem;
    letter-spacing: 0.125rem;
  }

  .small {
    margin-top: 0.88rem;
  }

  .portfolio__web {
    background: url("../../assets/images/home/tablet/image-web-design-t.jpg")
      no-repeat;
    background-size: cover;
  }
  .portfolio__app {
    background: url("../../assets/images/home/tablet/image-app-design-t.jpg")
      no-repeat;
    background-size: cover;
  }
  .portfolio__graphic {
    background: url("../../assets/images/home/tablet/image-graphic-design-t.jpg")
      no-repeat;
    background-size: cover;
  }

  .anchors-inactive {
    margin-bottom: 7.5rem;
  }

  // Features

  .features {
    justify-content: left;
    row-gap: 2rem;
    margin-bottom: 4.19rem;
  }
  .feature {
    display: flex;
    margin-left: 2.44rem;
  }
  .feature__content{
    margin-left: 3rem;
  }
  .feature__title {
    text-align: left;
    margin: 2.5rem 0 1rem;
  }

  .feature__description {
    text-align: left;
    max-width:  100%;
    margin-right: 2.5rem;
  }
}

@media (min-width: 75em) {
  // Banner

  .banner {
    margin: 4rem auto 10rem;
    width: 69rem;
    display: flex;
    background-position: right 0;
  }
  .banner__heading {
    text-align: left;
    padding: 0;
    margin: 9rem 0 0 5.9rem;
    width: 33.75rem;
  }
  .banner__description {
    text-align: left;
    width: 27.8rem;
    margin: 0.69rem 0 2.5rem 5.94rem;
  }
  .banner__anchor {
    margin: 0 0 9.06rem 5.94rem;
  }
  .banner__img {
    margin: 8.69rem 0 0 6.16rem;
  }

  // Anchors

  .portfolio__anchors {
    display: grid;
    grid-template-areas:
      "web app"
      "web graphic";
    grid-template-columns: 33.8125rem 33.8125rem;
    justify-content: center;
    column-gap: 1.87rem;
    row-gap: 1.5rem;
  }
  .portfolio__anchor {
    margin: 0;
  }
  .portfolio__web {
    grid-area: web;
    background: url("../../assets/images/home/desktop/image-web-design-large.jpg")
      no-repeat;
    background-size: cover;
    padding-top: 17.06rem;
    padding-bottom: 17.06rem;
  }
  .portfolio__app {
    grid-area: app;
    background: url("../../assets/images/home/desktop/image-app-design-d.jpg")
      no-repeat;
    background-size: cover;
    padding-top: 6.69rem;
    padding-bottom: 6.69rem;
  }
  .portfolio__graphic {
    grid-area: graphic;
    background: url("../../assets/images/home/desktop/image-graphic-design-d.jpg")
      no-repeat;
    background-size: cover;
    padding-top: 6.69rem;
    padding-bottom: 6.69rem;
  }
  .web-inactive {
    background: url("../../assets/images/home/desktop/image-web-design-small.jpg")
      no-repeat;
    background-size: cover;
    padding-top: 6.69rem;
    padding-bottom: 6.69rem;
  }
  .anchors-inactive {
    row-gap: unset;
    margin-bottom: 10rem;
  }
  .anchors-web-inactive {
    grid-template-areas: "app graphic";
    row-gap: unset;
  }

  // Features

  .features {
    justify-content: center;
    row-gap: 0;
    column-gap: 2rem;
    margin: 10rem 0;
    grid-template-columns: repeat(3, 21.875rem);
  }
  .feature {
    display: block;
    margin-left: 0;
  }
  .feature__content{
    margin-left: 0;
  }
  .feature__title {
    text-align: center;
    margin: 3rem 0 2rem;
  }

  .feature__description {
    text-align: center;
    max-width:  21.875rem;
    margin-right: 0;
  }
}
