<main>
  <div class="banner">
    <div class="banner__content">
      <h1 class="banner__heading">
        Award-winning custom designs and digital branding solutions
      </h1>
      <p class="banner__description">
        With over 10 years in the industry, we are experienced in creating fully
        responsive websites, app design, and engaging brand experiences. Find
        out more about our services.
      </p>
      <a href="./about" class="banner__anchor">Learn More</a>
    </div>

    <picture>
      <!--TODO CHANGE THESE LATER-->
      <source
        media="(min-width: 75em)"
        srcset="assets/images/home/desktop/image-hero-phone-d.png"
      />
      <source
        media="(min-width: 43em)"
        srcset="assets/images/home/tablet/image-hero-phone-t.png"
      />

      <img
        ngSrc="assets/images/home/mobile/image-hero-phone-p.png"
        alt=""
        height="364"
        width="281"
        priority="true"
        class="banner__img"
      />
    </picture>
  </div>
  <div>
    <h2>i am just a placeholder content</h2>
  </div>
</main>
<!--
<a routerLink="web-design">app</a>

<router-outlet></router-outlet>
-->
